/* ---------- GLOBAL ---------- */
body {
    min-height: 100vh;
    background:linear-gradient(135deg, #56ab2f, #a8e063);
    font-family: "Segoe UI", sans-serif;
}

/* ---------- NAVBAR ---------- */
.navbar-custom {
    background: rgba(255, 255, 255, 0.95);
    padding: 15px 25px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
}

.navbar-custom a {
    text-decoration: none;
    font-weight: 600;
    margin: 0 12px;
    color: #4a4a4a;
}

.navbar-custom a:hover {
    color: #667eea;
}

/* ---------- CARDS ---------- */
.container-box {
    background: white;
    border-radius: 18px;
    padding: 30px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

/* ---------- HEADINGS ---------- */
h1, h2, h3 {
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 25px;
}

/* ---------- BUTTONS ---------- */
.btn-primary-custom {
    background: linear-gradient(45deg, #667eea, #764ba2);
    border: none;
    border-radius: 30px;
    padding: 10px 28px;
    color: white;
    font-weight: 600;
}

.btn-primary-custom:hover {
    opacity: 0.9;
}

.btn-danger-custom {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    border: none;
    border-radius: 30px;
    padding: 10px 28px;
    color: white;
    font-weight: 600;
}

.btn-secondary-custom {
    background: #adb5bd;
    border-radius: 30px;
    padding: 10px 28px;
    color: white;
}

/* ---------- FORMS ---------- */
.form-control {
    border-radius: 12px;
    padding: 10px;
}

/* ---------- TABLE ---------- */
.table {
    border-radius: 15px;
    overflow: hidden;
}

.table-primary {
     background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;
}

.table tbody tr:hover {
    background: #f2f4ff;
}

/* ---------- PAGE SPACING ---------- */
.page-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}
